.wrapper {
  width: 100%;
  background-color: #fff;
}
.container {
  margin: 0px auto;
  width: 70%;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 24px 0px 12px;
}
h3 {
  font-size: 14px;
  margin-bottom: 32px;
  color: #3f4b53;
}
h2,
h3 {
  text-align: center;
}
.wrapper table {
  border: 1px solid #fbcbcb;
  border-radius: 8px;
  tr {
    width: 100%;
  }
  th {
    background-color: #fff;
  }
  tr th:nth-child(1) {
    width: 30%;
  }
  tr td {
    padding: 20px 16px;
    border: none;
  }
  tr th {
    border: none;
  }
  tr td:nth-child(1) {
    width: 30%;
    color: #0f1e29;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
  }
  tr td:nth-child(1) span {
    color: #6f787e;
    font-weight: 400;
    font-size: 14px;
    margin-top: 16px;
    display: block;
  }
  tr td strong {
    display: inline-block;
    width: 50%;
  }
  tr td:nth-child(2) span,
  tr td:nth-child(3) span {
    font-weight: 700;
    width: 50%;
    display: inline-block;
    color: #6f787e;
  }
  tr td:nth-child(2),
  tr td:nth-child(3) {
    width: 35%;
  }
  tr th:nth-child(2) img,
  tr th:nth-child(3) img {
    width: 24px;
    height: 24px;
  }
  tr th:nth-child(2) {
    width: 35%;
    height: 100px;
    background-image: url("https://media3.scdn.vn/img4/2020/11_03/qxsym40bEcsfM1HwHvh9.png");
    background-size: cover;
  }
  tr th:nth-child(3) {
    height: 100px;
    width: 35%;
    background-size: cover;
    background-image: url("https://media3.scdn.vn/img4/2020/11_03/cE60lzk6Of5skka0AR0M.png");
  }
  .titleImage div {
    padding: 8px;
    background-color: #fff;
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0px auto;
    border-radius: 4px;
    border: 1px solid #fbcbcb;
    font-size: 20px;
  }
  tr td a {
    padding: 13px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #ee2624;
    font-weight: 700;
    border-radius: 4px;
  }
}
.icon {
  display: inline-flex;
  color: #fff;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  border-radius: 7px;
}
.tick {
  background-color: #f1514f;
}
.close {
  background-color: #cfd2d4;
}
