.wrapper {
    width: 100%;
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    display: block;
    color: #000;
    cursor: pointer;
}
.nav-container-image {
    display: block;
}
.image-nav {
    width: 100%;
    height: 60px;
    background-color: rgb(123, 198, 191);
    display: flex;
    justify-content: center;
    img {
        width: 70%;
        height: auto;
        object-fit: cover;
        display: block;
    }
}
.logo {
    width: 100px;
    padding-left: 24px;
    img {
        width: 100%;
        height: 39px;
        object-fit: cover;
        display: block;
    }
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #cfd2d4;
    ul {
        display: flex;
        margin: 0;
        padding: 0;
    }
    ul .dropbox {
        position: relative;
    }
    ul li .dropbox-contain {
        position: absolute;
        left: 50%;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 -4px 16px 0 rgba(0,0,0,.1), 0 8px 16px 0 rgba(0,0,0,.1);
    }
    ul li .dropbox-contain a {
        padding: 12px;
        font-size: 14px;
        width: 200px;
    }
    ul .dropbox .dropbox-contain a:hover {
        background-color: #f2f3f4;
    }
    ul li .item-menu {
        padding: 12px;
        display: flex;
        align-items: center;
        span {
            margin-right: 8px;
            font-weight: 700;
        }
        .icon:nth-child(1) {
            width: 24px;
            height: 24px;
        }
        .icon:nth-child(3) {
            width: 18px;
            height: 24px;
        }
    }
    .menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item-menu:hover {
        background-color: #f2f3f4;
    }
    .icon {
        margin-right: 8px;
    }
}
.item-menu.active {
    color: red;
}
.fixed {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fff;
}
.toLoginPage {
    .icon {
        font-size: 20px;
    }
    a {
        padding: 16px 11px;
        background-color: #ee2624;
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
    }

}