.wrapperInputDetail {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  .container {
    position: relative;
    width: 45%;
  }
  .addAttribute {
    width: 30% !important;
  }
  .addAttribute span {
    cursor: pointer;
  }
  .addAttribute_input {
    height: 100%;
    outline: none;
    border: none;
  }
  .btn-add span {
    padding: 11px 16px;
    background-color: #e7e8ea;
    color: #3f4b53;
    font-weight: 700;
    transition: 0.25s;
    border-radius: 4px;
  }
  .btn-add:hover span {
    background-color: #f2f3f4;
  }
}

.wrapperInputDetail .dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 12px 16px;
  border: 1px solid #cfd2d4;
  cursor: pointer;
  transition: 0.25s;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Các trình duyệt khác */
  color: #6f787e;
  &:hover {
    border-color: #3f81fe;
  }
}
.list-chose {
  width: 100%;
  height: 364px;

  overflow: overlay;
  background-color: #fff;
  padding: 6px;
  box-shadow:
    0 -4px 16px 0 rgba(0, 0, 0, 0.1),
    0 8px 16px 0 rgba(0, 0, 0, 0.1);
  .search {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 10px;
    box-shadow: inset 0 0 0 1px #cfd2d4;
    border-radius: 5px;
    transition: 0.25s;
    margin-bottom: 6px;
  }
  .search:hover {
    box-shadow: inset 0 0 0 1px #3f81fe !important;
  }
  .search:focus {
    box-shadow: inset 0 0 0 1px #3f81fe !important;
  }
  .search input {
    height: 30px;
    outline: none;
    border: none;
    color: #3f4b53;
  }
  ul li {
    padding: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.25s;
  }
  ul li:hover {
    background-color: #f2f3f4;
  }
}
.tippy {
  width: 100%;
}
.wrapperInputDetail [data-tippy-root] {
  width: 100%;
}
.itemChosse {
  z-index: 999;
  font-size: 12px;
  background-color: #f2f3f4;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.close_icon {
  font-weight: 700;
}
