.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 26px;
    background-color: #fff;
}
.footerLeft {
    width: 100%;
    display: flex;
    img {
        width: 80px;
        height: 48px;
        margin-right: 24px;
    }
    .infor span {
        font-size: 12px;
        display: block;
        line-height: 16px;
        margin-bottom: 4px;
    }
    .infor p {
        font-size: 14px;
        font-weight: 700;
        color: #3f4b53;
        margin-bottom: 4px;
    }
}
.footerRight {
    width: calc(100%*1/3);
    display: flex;
    img {
        width: 120px;
        height: 40px;
        margin: 0px 0px 8px 8px;
    }
}