.wrapper {
    width: 100%;
    display: flex;
}
.container-left {
    width: 68.666667%;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 12px;
}
.container-left>.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    div {
        display: flex;
        align-items: center;
    }
    .name {
        display: flex;
        flex-direction: column;
        align-items: normal;
        margin-left: 10px;
    }
    .name p {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 6px;
    }
    .name span {
        font-size: 12px;
        color: #6f787e;
        font-weight: 400;
    }
    a span {
        color: #0f62fe;
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 10px;
    }
    .icon {
        width: 24px;
        height: 24px;
        color: red;
    }
}
.content-left {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &>div {
        width: 50%;
    }
    .title {
        font-size: 12px;
        font-weight: 700;
        color: #6f787e;
    }
    .content {
        display: flex;
        align-items: center;
    }
    .content div {
        width: 50%;
        padding: 4px;
        line-height: 18px;
    }
}
.wrapperItem  {
    padding: 8px;
    margin: -4px;
    .title,.result {
        padding: 4px;
    }
    .content .current {
        font-size: 20px;
        font-weight: 700;
        color: #3f4b53;
    }
    .content .result  {
        font-size: 14px;
        color: #6f787e;
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
.container-right {
    width: calc(100%*1/3);
    margin-left: 24px;
    background-color: #fff;
    padding: 24px;
    margin-top: 12px;
    border-radius: 8px;
    .title {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .title>span {
        width: calc(100%*2/3);
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .title a {
        width:calc(100%*1/3) ;
        background-color: #e7e8ea;
        font-size: 12px;
        font-weight: 700;
        color: #3f4b53;
        padding: 4px;
        text-align: center;
        border-radius: 4px;
        &:hover {
            background-color: #f2f3f4;
        }
    }
    .icon {
        color: red;
        width: 20px;
        height: 20px;
    }
}